<!-- ======= Footer ======= -->
<footer id="footer" class="footer"
  style="padding: 5px; width: 100%; position: fixed; bottom: 0; background-color: lightsteelblue;">
  <div class="col-md-12 row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Sales Dashboard</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        Designed by <a routerLink="/admin/dashboard" class="text-decoration-none"><b>Tushar Patil</b></a>
      </div>
    </div>
  </div>
  <a routerLink="#" class="back-to-top d-flex align-items-center justify-content-center"
    style="margin-top: 10px; margin-bottom: -5px;"><i class="bi bi-arrow-up-short"></i></a>
</footer>
<!-- End Footer -->