<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/admins">
                <i class="bi bi-person-lines-fill"></i>
                <span>Admins</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/products">
                <i class="bi bi-cart-dash-fill"></i>
                <span>Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/sales">
                <i class="bi bi-currency-rupee"></i>
                <span>Sales</span>
            </a>
        </li>

        <li class="nav-item"  style="cursor: pointer;">
            <a class="nav-link collapsed" (click)="logOut()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>
</aside>