<!-- <main id="main" class="main">


    <br>

    <div class="col-lg-12 row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;"><b>Sign Up</b></h3>
                </div><br>

                <div class="card-body">
                    <div class="row g-3">

                        <div class="col-12">
                            <label for="" class="form-label"><b>Username :</b></label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your Email" value="">
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label"><b>Password :</b></label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password"
                                    placeholder="Enter your password">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="togglePassword" (click)="togglePassword()">
                                        <i class="bi bi-eye" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label"><b>Confirm Password :</b></label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="cpassword"
                                    placeholder="Confirm password">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="togglePassword" (click)="togglePasswords()">
                                        <i class="bi bi-eye" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="text-center center">
                            <button type="button" class="btn btn-primary" routerLink="/login">Sign Up</button><br><br>
                            <p>Already have an account?  <a routerLink="/login">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main> -->







<!-- <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a routerLink="/signup" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Sales</span>
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Your Name</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a routerLink="/login">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main> -->